html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ✅ ВАЖНО: отключаем скролл у body */
html,
body {
  overflow: hidden;
  background: #F0A23B;
}

/* фон */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #F7B338, #F0A23B, #E38D2F);
}
